.box {
    display: flex;
    width: 100%;
}

.box-list {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.box-more {
    width: 100%;
}

.box-more__button {
    width: 80%;
    height: 80px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 24px;
    cursor: pointer;
}

.box-information {
    width: 25%;
}